body {
    margin: 0;
    padding: 0;
    background: #000;
}
.login{
    font-family: 'Montserrat', sans-serif;
}

#espacio {
    position: relative;
    padding-bottom: 90px;
}

.logo{
    text-align: center;
    margin-bottom: 5px;
}

.Bloque {
    max-width: 420px;
    border: rgb(13, 177, 226) 1px solid;
    border-radius: 20px;
    border-block-end-width: 0em;
    position: relative;
    background: #fff;
    margin:0 auto;
    padding: 30px;
    margin-top: 4vh;
    margin-bottom: 10vh;
}



#formularioLogin {
    margin: 0 auto;
    position: relative;
   
    background: #fff;
}

#formularioLogin h2 {
    text-align: center;
}

#formularioLogin {
    display: table-cell;
    padding: 15px 40px;
}

#formularioLogin span {
    color: #344955
}
.form-group .form-control {
    padding-left: 40px;
}

.form-group i {
    position: relative;
    left: 13px;
    top: 30px;
    font-size: 15px;
    color:#344955
}

.btn-danger {
    background-color: #17a2b8;
}
